
.foodSlider {
	position: relative;
}

.foodSlider__slides {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.foodSlider__nav {
	display: flex;
	align-items: center;
	width: 500px;
	justify-content: space-between;
	position: absolute;
	left: -20px;
	top: 50%;
}

.foodSlider__slide img {
	width: 400px;
	height: 400px;
	object-fit: cover;
	object-position: center;
}


.foodSlider__slide--right {
	position: absolute;
	width: 900px;
	margin-left: 30px;
	order: 2;
}

.foodSlider__slide--right  img{
	margin-left: auto;
	margin-right: 0;
	order: 2;
}

.foodSlider__slide--active{
	padding-right: 30px; 
	padding-left: 30px;
}

.foodSlider__slide--hidden {
	display: none;
}

.slider__dot {
	width: 12px;
	height: 12px;
	background-color: #000000;
	border-radius: 50%;
	margin-right: 10px;
	cursor: pointer;
}

.slider__dot:nth-child(2) {
	margin-left: 10px;
}

.slider__dot--active {
	background-color: #DEAA43;
}

.slider__dot:hover {
	background-color: #E5B26F;
}

.slider__dot:active {
	background-color: #AD7E40;
}

.slider__arrow {
	height: 32px;
	cursor: pointer;
	z-index: 2;
	color: #000000;
}


.slider__arrow:hover {
	color: #E5B26F;
}

.slider__arrow:active {
	color: #AD7E40;
}

.slider__nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
	width: 180px;
	margin: 0 auto;
	margin-bottom: 40px;
}

.slider__nav--mobile {
	display: none;
}

.photosSlider {
	overflow-x: hidden;
	min-height: 800px;
}

.photosSlider__slides {
	display: flex;
	align-items: center;
	position: relative;
	min-height: 600px;
	margin-bottom: 25px;
}

.photosSlider__slide--active {
	margin: auto;
	width: 600px;
	height: 600px;
	position: absolute;
	left:0; 
	right: 0;
	z-index: 4;
}


.photosSlider__slide--second {
	margin: auto;
	width: 400px;
	height: 400px;
	left:0; 
	right: 0;
	transform:translateX(300px); 
	position: absolute;
	z-index: 2;
}

.photosSlider__slide--second:nth-child(2) {
	transform:translateX(-300px); 
}


.photosSlider__slide--third {
	margin: auto;
	width: 300px;
	height: 300px;
	position: absolute;
	left:0; 
	right: 0;
	transform:translateX(-550px); 
	z-index: 1;
}

.photosSlider__slide--third:nth-child(5) {
	transform:translateX(550px); 
}

.photosSlider__slide--active img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.photosSlider__slide--second img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}


.photosSlider__slide--third img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.photosSlider__slide--third::after {
	position: absolute;
	z-index: 3;
	top: 0;
	right: 0;
	width: 300px;
	height: 300px;
	background-color: rgba(255, 255, 255, 0.4);
	content: "";
} 


.photosSlider__slide--second::after {
	position: absolute;
	z-index: 3;
	top: 0;
	right: 0;
	width: 400px;
	height: 400px;
	background-color: rgba(255, 255, 255, 0.4);
	content: "";
}


.slider__nav--photo {
	width: 60px;
}
/*/*//*/*//*/*//*/*//*/*//*/*//*/*//*/*//*/*//*/*//*/*//*/*/

.foodSlider__slides {
	cursor: grab;
	position: relative;
}

.foodSlider__slide--active {
	z-index: 1;
}

.foodSlider__slides--grabbing {
	cursor: grabbing;
}