
@media (max-width: 860px) {
	.header__nav {
		width: 80%;
	}

	.header__mainMenu {
		display: none;
	}

	.ourAdvantages {
		width: 100%;
	}

	.aboutTents {
		margin-bottom: 60px;
	}
 
	.aboutTents:after {
		display: none;
	}

	.aboutTentsFlexWrap {
		width: 80%;
	}

	.aboutTentsWrap {
		text-align: center;
		padding-top: 0;
	}

	.aboutTents__text {
		margin-bottom: 60px;
	}

	.foods {
		width: 80%;
		text-align: center;
		flex-direction: column;
		margin-bottom: 0;
	}

	.foods__textBlock {
		margin-right: 0;
		width: auto;
	}

	.tourProgram__title {
		padding-left: 0;
	}

	.foodsWrap::after {
		display: none;
	}

	.booking__bookingWrap {
		display: block;
		margin: 0;
	}

	.booking__picWrap {
		width: 100%;
		position: static;

	}

	.booking__picWrap:after {
		right: auto;
		left: auto;
		width: 100%; 
	}

	.booking__textWrap {
		width: 80%;
		margin: 0 auto;
	}


	.photos__title {
		margin-bottom: 0;
	}


	.contacts {
		flex-direction: column;
		width: 100%;
	}

	.contacts__TextWrap {
		width: 100%;
		align-items: center;
	}

	.socialNetwork__list {
		margin-bottom: 10px;
	}

	.socialNetwork__item:last-child {
		margin-right: 0;
	}

}

