.blackout {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: rgba(0,0,0, 0.8);
	transition-property: opacity;
  transition-duration: 0.8s;
}


.blackout--hidden {
	opacity: 0;
}


.logo {
	z-index: 12;
}

.header__iconBurgerMenu {
	display: none;
	cursor: pointer;
}

.mobileMenu {
	background-color: #FFFFFF;
	position: absolute;
	width: 95%;
	height: 70%;
	right:0;
	z-index: 11;
	transition-property: right;
  transition-duration: 0.8s;
}

.mobileMenu--hidden {
	right: -100%;
}

.header__iconBurgerMenu  {
	width: 28px;
	height: 20px;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	display: none;
	cursor: pointer;
	z-index: 12;
}

.header__iconBurgerMenu span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #E19F49;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.header__iconBurgerMenu:hover span {
	background-color: #E5B26F;
}

.header__iconBurgerMenu:active span {
	background-color: #AD7E40;
}

/* Icon 3 */

.header__iconBurgerMenu span:nth-child(1) {
  top: 0px;
}

.header__iconBurgerMenu span:nth-child(2), .header__iconBurgerMenu span:nth-child(3) {
  top: 8px;
}

.header__iconBurgerMenu span:nth-child(4) {
  top: 16px;
}

.header__iconBurgerMenu.openMenu span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.header__iconBurgerMenu.openMenu span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header__iconBurgerMenu.openMenu span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header__iconBurgerMenu.openMenu span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

@media (max-width: 860px) {
	.header__iconBurgerMenu {
		display: block;
	}
}	

@keyframes open {
  0% {
    display: block;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}
